body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main-wrapper { display: flex; flex-direction: column; align-items: center; gap: 20px; }

.container {
    background: #1e293b;
    padding: 2rem;
    border-radius: 12px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h2 { color: #38bdf8; margin-top: 0; }
.subtitle { font-size: 0.85rem; color: #94a3b8; margin-bottom: 25px; }

.result-container {
    display: flex;
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #334155;
}

#passwordResult {
    background: transparent;
    border: none;
    color: #38bdf8;
    width: 100%;
    font-family: monospace;
    font-size: 1.1rem;
    outline: none;
}

#copyBtn {
    background: #334155;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.setting { margin-bottom: 20px; }
.range-group { display: flex; align-items: center; gap: 15px; margin-top: 10px; }
input[type="range"] { flex: 1; accent-color: #38bdf8; }

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
}

.main-btn {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    color: #0f172a;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.footer { color: #94a3b8; font-size: 0.8rem; }
.footer b { color: #38bdf8; }

.strength-container {
    height: 8px;
    width: 100%;
    background: #334155;
    border-radius: 4px;
    margin-top: -10px;
    margin-bottom: 5px;
    overflow: hidden;
}

#strengthBar {
    height: 100%;
    width: 0%; /* Starts at 0 */
    transition: 0.4s ease-in-out;
}

#strengthText {
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 20px;
    color: #94a3b8;
}